In [11]:
#library imports
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [15]:
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text  #to import the data
soup = BeautifulSoup(url,'lxml')

In [25]:
#to store the data
postcode = []
borough = []
neighbourhood = []

In [40]:
table_find = soup.find('table')
#for finding table data
table_data = table_find.find_all('td')


#code to store the table data into dataframe
for i in range(0, len(table_data),3):
    postcode.append(table_data[i].text.strip())
    borough.append(table_data[i+1].text.strip())
    neighbourhood.append(table_data[i+2].text.strip())
df=pd.DataFrame(data=[postcode,borough,neighbourhood]).transpose()
df.columns=['postcode','borough','neighbourhood']
df.head()

  postcode           borough     neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# Removal of not assigned

In [43]:
df['borough'].replace('Not assigned',np.nan,inplace=True)
df.dropna(subset=['borough'],inplace=True)
df.head()

  postcode           borough     neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

# Join the Two neighbours with same postcode

In [51]:
df1=df.groupby(['postcode','borough'])['neighbourhood'].apply(','.join).reset_index()
df1.columns=['postcode','borough','neighbourhood']
df1.head()

  postcode      borough                                      neighbourhood
0      M1B  Scarborough  Rouge,Malvern,Rouge,Malvern,Rouge,Malvern,Roug...
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union,Highland ...
2      M1E  Scarborough  Guildwood,Morningside,West Hill,Guildwood,Morn...
3      M1G  Scarborough  Woburn,Woburn,Woburn,Woburn,Woburn,Woburn,Wobu...
4      M1H  Scarborough  Cedarbrae,Cedarbrae,Cedarbrae,Cedarbrae,Cedarb...

In [53]:
df1.shape

(103, 3)